<!--filters-->
<div class="flex items-center gap-4 pb-4 w-full"> <!-- Added w-full here -->
  <div class="flex-1"> <!-- Added flex-1 to make the child divs expand evenly -->
    <label for="status" class="block mb-2 text-sm font-medium text-gray-700">Status</label>
    <select [(ngModel)]="selectedStatus" id="status" class="border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2">
      <option value="">All</option>
      <option *ngFor="let status of statusOptions" [ngValue]="status.value">
        {{ status.key }}
      </option>
    </select>
  </div>

  <div class="flex-1"> <!-- Added flex-1 here -->
    <label for="description" class="block mb-2 text-sm font-medium text-gray-700">Description</label>
    <input [(ngModel)]="filterDescription" type="text" id="description" class="border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2" placeholder="Enter description">
  </div>

  <div class="flex-1"> <!-- Added flex-1 here -->
    <label for="startDate" class="block mb-2 text-sm font-medium text-gray-700">Start Date</label>
    <input [(ngModel)]="filterStartDate" type="date" id="startDate" class="border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2">
  </div>

  <div class="flex-1"> <!-- Added flex-1 here -->
    <label for="endDate" class="block mb-2 text-sm font-medium text-gray-700">End Date</label>
    <input [(ngModel)]="filterEndDate" type="date" id="endDate" class="border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2">
  </div>

  <div class="pt-6">
    <button (click)="applyFilters()" class="px-4 py-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700">Filter</button>
  </div>
</div>



<!--Table-->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3">
        Ticket ID
      </th>
      <th scope="col" class="px-6 py-3">
        <div class="flex items-center">
          Description
        </div>
      </th>
      <th scope="col" class="px-6 py-3">
        <div class="flex items-center">
          Status
        </div>
      </th>
      <th scope="col" class="px-6 py-3">
        <div class="flex items-center">
          Date
        </div>
      </th>
      <th scope="col" class="px-6 py-3">
        <span class="sr-only">Edit</span>
      </th>
      <th scope="col" class="px-6 py-3">
        <span class="sr-only">Delete</span>
      </th>
    </tr>
    </thead>
    <tbody *ngIf="tickets">
    <tr *ngFor="let ticket of tickets" class="bg-white border-b">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
        {{ticket.ticketId}}
      </th>
      <td class="px-6 py-4">
        {{ticket.description}}
      </td>
      <td class="px-6 py-4">
        {{ getTicketStatusText(ticket.status) }}
      </td>
      <td class="px-6 py-4">
        {{ticket.date | date}}
      </td>
      <td class="px-6 py-4">
        <a [routerLink]="['/updateTicket/'+ticket.ticketId]" class="font-medium text-gray-600 hover:underline">Update</a>
      </td>
      <td class="px-6 py-4">
        <button (click)="deleteTicket(ticket.ticketId)" class="font-medium text-red-600 hover:underline">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="flex justify-center pt-4">
  <ul class="inline-flex -space-x-px text-base h-10">
    <li>
      <button (click)="changePage(activePage - 1)"
         [class]="isFirstPage() ? 'cursor-not-allowed text-gray-300' : 'text-gray-500'"
         [attr.aria-disabled]="isFirstPage() ? true : null"
         class="flex items-center justify-center px-4 h-10 leading-tight bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700"
         [disabled]="isFirstPage()">Previous</button>
    </li>

    <li *ngFor="let page of [].constructor(pageCount); let i = index">
      <a href="#" (click)="changePage(i + 1)"
         [class]="activePage === (i + 1) ? 'text-white border border-gray-300 bg-gray-600' : 'text-gray-500 bg-white border border-gray-300'"
         class="flex items-center justify-center px-4 h-10 leading-tight hover:bg-gray-200 hover:text-gray-700">
        {{ i + 1 }}
      </a>
    </li>

    <li>
      <button (click)="changePage(activePage + 1)"
         [class]="isLastPage() ? 'cursor-not-allowed text-gray-300' : 'text-gray-500'"
         [attr.aria-disabled]="isLastPage() ? true : null"
         class="flex items-center justify-center px-4 h-10 leading-tight bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700"
         [disabled]="isLastPage()">Next</button>
    </li>
  </ul>
</div>


